@model ZumitoWeb.Models.Cliente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container h-100">
    <div class="row align-items-center">
        <div class="col card p-4 mx-auto">
            <h1>Details</h1>
                <h4>Cliente</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>
                </dl>

            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <br />
        </div>
        <a asp-action="Index">Regresar</a>
    </div>
</div>
