@model ZumitoWeb.Models.Pedido

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col p-4 card mx-auto">
            <h1>Detalles</h1>

            <div>
                <h4>Pedido</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Fecha)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Estado)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CostoTotal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CostoTotal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Ruta)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Ruta.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Cliente)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cliente.Id)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
                <a asp-action="Index">Regresar</a>
            </div>
        </div>
    </div>
</div>
