@model ZumitoWeb.Models.Empleado

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container h-100">
    <div class="row align-items-center">
        <div class="col card p-4 mx-auto">
            <h1>Eliminar</h1>

            <h3>Estas seguro que quieres eliminar el siguiente registro?</h3>
            <div>
                <h4>Empleado</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Pass)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Pass)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Rol)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Rol)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Disponible)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Disponible)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                    <a asp-action="Index">Regresar</a>
                </form>
            </div>
        </div>
    </div>
</div>
