@model ZumitoWeb.Models.Empleado

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container h-100">
    <div class="row align-items-center">
        <div class="col card p-4 mx-auto">
            <h1>Detalles</h1>

            <div>
                <h4>Empleado</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Pass)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Pass)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Rol)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Rol)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Disponible)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Disponible)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
                <a asp-action="Index">Regresar</a>
            </div>
        </div>
    </div>
</div>
